<div
  class="cursor-crosshair"
  [class.visible]="isVisible"
  [class.hover]="isHovering"
  [style.transform]="'translate(' + x + 'px, ' + y + 'px)'"
>
  <span class="tick tick-top"></span>
  <span class="tick tick-bottom"></span>
  <span class="tick tick-left"></span>
  <span class="tick tick-right"></span>
  <span class="crosshair-dot"></span>
</div>
<div
  class="cursor-terminal"
  [class.visible]="isVisible"
  [class.hover]="isHovering"
  [style.transform]="'translate(' + x + 'px, ' + y + 'px)'"
>▌</div>
